<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about</title>
    <link rel = "stylesheet" href = "/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    <div class="main-content">
         {{>header}}
         <p>The Site Was Created By Rafi Ahmed. It Uses Data From mapbox.com And darksky.net</p>
         <img class="potrait" src = "/img/rafi.jpg">

    </div>
    {{>footer}}
</body>
</html>